@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #f2394f;
  --secondary-color: #fafafa;
}
.head h1 {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 600;
}
.head span {
  color: var(--primary-color);
}

/* Header */
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.res-btn {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
  border-radius: 20px !important;
}
.res-btn:hover {
  background-color: var(--primary-color) !important;
  color: white !important;
}

/* About Section */
.about {
  color: white;
  background-color: #f2394f;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

/* Skills Sections */
.skills {
  background-color: var(--secondary-color);
}
.skills .row div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.skills i {
  font-size: 4rem;
  color: #4e4e4e;
}
.skills h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #4e4e4e;
}

/* Projects Section */
.portfolio-container .portfolio-box {
  width: 100%;
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem gray;
  overflow: hidden;
  display: flex;
}
.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}
.portfolio-box:hover img {
  transform: scale(1.1);
}
.portfolio-box .portfolio-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--primary-color));
}
.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--primary-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
.portfolio-layer,
.portfolio-layer i {
  color: white;
}

/* Contact Section */
.contact {
  background-color: var(--secondary-color);
}
.contact .container {
  max-width: 700px;
}
.full-name {
  width: 100%;
}
.email {
  width: 100%;
}
.message {
  width: 100%;
}
.form-btn {
  background-color: var(--primary-color) !important;
  color: white !important;
  border-radius: 22px !important;
}
input,
textarea {
  font-size: 1.5rem;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

/* Footer */
.footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
}
.social-icon {
  color: #fff;
}
.social-icon:hover {
  color: var(--secondary-color);
}
